<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-3.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd 
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/security 
          	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<aop:aspectj-autoproxy />
	<context:annotation-config />

	<!-- Library beans -->
	<context:component-scan
		base-package="org.sers.webutils.server.core.security.service.impl" />
	<context:component-scan
		base-package="org.sers.webutils.server.core.service.impl" />
	<context:component-scan
		base-package="org.sers.webutils.server.core.dao.impl" />
	<context:component-scan
		base-package="org.sers.webutils.server.core.utils" />
	<context:component-scan
		base-package="org.sers.webutils.server.core.service.migrations" />

	<!-- Project specific beans -->
	<context:component-scan
		base-package="org.pahappa.systems.core.services.impl" />
	<context:component-scan
		base-package="org.pahappa.systems.core.dao.impl" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ireporter" />
		<property name="username" value="pahappa" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- JPA CONFIGURATIONS -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="persistenceProviderClass"
			value="org.hibernate.ejb.HibernatePersistence" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
 
		<property name="packagesToScan">
			<list>
				<value>org.sers.webutils.model</value>
				<value>org.sers.webutils.model.security</value>
				<value>org.sers.webutils.model.migrations</value>
				<value>org.sers.webutils.model.bgtasks</value>
				<value>org.pahappa.systems.models</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
		<property name="jpaDialect">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>

	<!-- TRANSACTION MANAGEMENT -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<bean id="searchProcessor"
		class="com.googlecode.genericdao.search.jpa.JPASearchProcessor">
		<constructor-arg ref="metadataUtil" />
	</bean>
	
	<bean id="metadataUtil"
		class="org.sers.webutils.server.core.dao.jpa.search.JpaAnnotationMetadataUtil" />		
</beans>
